//<!-- ****************************************** -->
//<!--               $CONTENIDO                   -->
//<!-- ****************************************** -->

//* COLORS...............Establecemos los colores institucionales necesarios

//<!-- ------------ END CONTENIDO --------------- -->
//<!-- ****************************************** -->



/*<!-- ------------------------------------------ -->*/
/*<!--                 $COLORS                    -->*/
/*<!-- ------------------------------------------ -->*/
$black        : #000000;
$grey         : #1A1A1A;
$grey-input   : #CACACA;
$white        : #F0F0F0;
$green        : #73B42A;
/*<!-- -------------- END $colors --------------- -->*/
/*<!-- ------------------------------------------ -->*/
