//<!-- ****************************************** -->
//<!--               $CONTENIDO                   -->
//<!-- ****************************************** -->

//* COMPASS..............Cargamos las librerias de compass
//* SUSY.................Configuraciones basicas para susy

//<!-- ------------ END CONTENIDO --------------- -->
//<!-- ****************************************** -->



/*<!-- ------------------------------------------ -->*/
/*<!--                 $COMPASS                   -->*/
/*<!-- ------------------------------------------ -->*/
@import 'compass'; 
/*<!-- ------------- END $compass --------------- -->*/
/*<!-- ------------------------------------------ -->*/


/*<!-- ------------------------------------------ -->*/
/*<!--                  $SUSY                     -->*/
/*<!-- ------------------------------------------ -->*/
@import 'susy';
@import 'breakpoint';

$susy: (
    columns: 12,
    gutters: 0.25,
    gutter-position: after,
    debug: (
        image: hide,
        color: rgba(#66f, 0.25),
        output: background,
        toggle: top right,
    ),
    use-custom: (
        box-sizing: true
    )
);
/*<!-- -------------- END $susy ----------------- -->*/
/*<!-- ------------------------------------------ -->*/